*{
    margin: 0;
    padding: 0;
}

:root{
    --body-copy: 17px;
    --nav-menu: 24px;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body{
    margin: auto;
    padding: auto;
    width: 95%;
    font-family: 'work sans' , serif;
    overflow: hidden;
}

/*MAP*/
path{
    fill: white;
    stroke: black;
    stroke-width: 0.25px;
}

path:hover{
    fill: rgb(247, 255, 20);
    transition: 0.6s;
    cursor: pointer;
}

/*NAVBAR*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: sticky;
    top: 0;
    font-size: var(--nav-menu);
    margin-bottom: 30px;
    padding-top: 40px;
    margin-left: 100px;
}

.name{
display: flex;
flex: 60%;
color:black;
}


.sub{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: black;
}

.nav{
    margin-right: 100px;
}

.mapsvg{
    width: 100%;
    margin-left: 100px;
}